<p-calendar [(ngModel)]="rangeDates" [locale]="pt" dateFormat="dd/mm/yy" selectionMode="range" [readonlyInput]="true"
            [showIcon]="true" (ngModelChange)="changeDate($event)" #dateFilter></p-calendar>

<div class="card">
  <h5>Status atual dos serviços</h5>
  <p-table [value]="status" sortField="autorizador.idAutorizador" [scrollable]="true" scrollHeight="500px" sortMode="single" (onSort)="onSort()">
    <ng-template pTemplate="header">
      <tr>
        <th>Serviço</th>
        <th>Data</th>
        <th>Disponibilidade</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.autorizador.idAutorizador].index === rowIndex">
        <td colspan="3">
          <span style="font-weight:bold">{{rowData.autorizador.dsAutorizador}}</span>
        </td>
      </tr>
      <tr class="ui-widget-header" *ngIf="rowGroupMetadata2[rowData.autorizador.idAutorizador + '-' + rowData.servico.idServico].index === rowIndex">
        <td colspan="3">
          <span style="font-weight:bold">{{rowData.servico.dsServico}}</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>{{rowData.dhHistorico | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td><div [outerHTML]="rowData.status | servicoStatus"></div></td>
      </tr>
    </ng-template>
  </p-table>
</div>
