<p-card header="Serviços Status Por Período">
  <div style="padding-bottom: 20px;">
    <p-calendar [(ngModel)]="rangeDates" [locale]="pt" dateFormat="dd/mm/yy" selectionMode="range" [readonlyInput]="true"
                [showIcon]="true" (ngModelChange)="changeDate($event)" #dateFilter></p-calendar>
  </div>

  <p-table [value]="status">
    <ng-template pTemplate="header">
      <tr>
        <th>Estado</th>
        <th>Serviço</th>
        <th>Data</th>
        <th>Disponibilidade</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>{{rowData.autorizador.dsAutorizador}}</td>
        <td>{{rowData.servico.dsServico}}</td>
        <td>{{rowData.dhHistorico | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td><div [outerHTML]="rowData.status | servicoStatus"></div></td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="paginate($event)" *ngIf="status.length > 0"></p-paginator>

  <app-progress-table #progressTable></app-progress-table>
</p-card>
